---
---

h1.page-banner-heading {
  text-shadow: 2px 2px 5px #333333ff;
}
h2.page-banner-subheading {
  text-shadow: 2px 2px 5px #333333ff;
}
.page-banner .page-banner-img > *:first-child {
  // stars logo doesn't disappear on small screens, but gray bands appear
  //background-repeat: no-repeat;
  //background-size: 100%;
}

div.project_pictures {
  max-height: 1000px;
}
