---
layout: framework
sidebar: category-list
heading: "STaRS 2022 is on April 14th!"
subheading: "Welcome to the Science Technology and Research Symposium (STaRS) organized by the School of Science and Technology at Georgia Gwinnett College"
banner: "/assets/images/stars-logo-green-right3.png"
---

<video width="640" height="480" controls>
  <source src="/assets/images/stars-video.mp4" type="video/mp4">
</video>

<div class="articles">
  {% if page.banner == nil %}
    {% assign banner = page.title %}
  {% endif %}

  {{ content }}

  {% assign posts_no_posters = site.categories.stars2022 |
  where_exp: "post", "post.categories != 'posters'" |
  where_exp: "post", "post.categories[0] != 'posters'" |
  where_exp: "post", "post.categories[1] != 'posters'"
  %}
  {% include views/pagination2.html paginator=posts_no_posters %}
</div>
